h1
{
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

.sensorButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.resetButton {
    background-color: red;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.buttons
{
	position: absolute;
	right: 50px;

}

.chartWrapper {
margin: auto;
width: 75%;

}
