h1
{
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

.sensorButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.resetButton {
    background-color: red;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.timeButton {
    background-color: blue;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.buttons
{
	position: absolute;
	left: 50px;

}

.daySelectMenu
{
  position: absolute;
	right: 50px;
}

.chartWrapper {
margin: auto;
width: 75%;

}
.home
{

  border-radius: 5px;
  padding: 0px 10px 0px 10px;
  background-color: green;

  color: #FFFFFF;
  font-family: 'Oswald', sans-serif;
  position: absolute;
  top: 600px;
  left: 10px;

  opacity: .75;
  margin: 10px;
}
a:visited{
  text-decoration: none;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
}
a {
  text-decoration: none;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 25px;


}
h4{
  font-family: 'Oswald', sans-serif;
}
p{
  font-size: 20px;
}
