body {
  background-image: url("http://d3ao8sz5crj5i0.cloudfront.net/001_hubble-pillars-creation-2015.jpg");
  background-size: 100%;
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
}


.profiles{
position: absolute;
bottom: 0px;
right: 0px;}

.myName{
  font-family: 'Oswald', sans-serif;
  font-size: 120px;
  font-weight:bold;

  color: black;
   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 4px;
   -webkit-text-stroke-color: black;
  text-align: center;
vertical-align: middle;
line-height: 90px;
padding-top: 5%;
}



a:visited{
  text-decoration: none;
  color: white;
}
a {
  text-decoration: none;
  color: white;
}

.contactMe
{
  height: 60px;
  width: 100px;
  border-radius: 5px;
  background-color: #69D2E7;
  text-align: center;
  color: #FFFFFF;
  font-family: 'Oswald', sans-serif;
  position: absolute;
  bottom: 10px;
  left: 10px;
  text-align: center;
  opacity: .75;
}

.myDescription
{
  font-family: 'Oswald', sans-serif;;
  font-size: 55px;
  font-weight:bold;

  color: black;
   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 3px;
   -webkit-text-stroke-color: black;

  text-align: center;
vertical-align: middle;
line-height: 90px;
padding-top: 5px;
}
