
body {
  background-image: url("https://raw.githubusercontent.com/mitchpehora/mitchellpehora/c741b80df40eb57bcc72c3533d889056479c93ce/images/mobilebg.png");
  background-size: 100%;
}

a {
  text-decoration: none;
  color: white;

font-size: 50px;
text-align: center;
vertical-align: middle;


}

p {
  text-decoration: none;
  color: white;

font-size: 50px;
text-align: center;
vertical-align: middle;


}

.links
{
  font-family: 'Oswald', sans-serif;
  height: 75px;
  width: 600px;
  border-radius: 5px;
  background-color: rgba(147, 235, 60, 0.75);
  color: #FFFFFF;
  text-align: center;
  vertical-align: middle;


  position: absolute;
  top: -300;
  bottom: 0;
  left: 0;
  right: 0;


  margin: auto;

}


.contactMe
{
  font-family: 'Oswald', sans-serif;
  height: 75px;
  width:600px;
  border-radius: 5px;
  background-color: rgba(67, 63, 191, 0.75);
  text-align: center;
  color: #FFFFFF;

  position: absolute;
  top: -100;
  bottom: 0;
  left: 0;
  right: 0;




  margin: auto;

}




.myName
{
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-weight:bold;

/*
   -webkit-text-fill-color: white; // Will override color (regardless of order)
   -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: black;

*/
  padding: none;
  position: absolute;
  bottom: 10;
  left: 10;

}
