
body {
  background-image: url("https://raw.githubusercontent.com/mitchpehora/mitchellpehora/c741b80df40eb57bcc72c3533d889056479c93ce/images/mobilebg.png");
  background-size: 100%;
  position: relative;
}

a {
  text-decoration: none;
  color: white;

font-size: 100px;



}

p {
  text-decoration: none;
  color: white;

font-size: 50px;




}

.links
{
  font-family: 'Oswald', sans-serif;
  height: 250px;
  width: 600px;
  border-radius: 5px;
  background-color: rgba(147, 235, 60, 0.75);
  color: #FFFFFF;




  position: relative;
  top: 150;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  vertical-align: middle;
  padding-top: 100px;
  border-radius: 30px;


  margin: auto;

}


.contactMe
{
  font-family: 'Oswald', sans-serif;
  height: 250px;
  width:600px;
  border-radius: 5px;
  background-color: rgba(67, 63, 191, 0.75);

  color: #FFFFFF;

  position: relative;
  top: 350;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
padding-top: 100px;
border-radius: 30px;





  margin: auto;

}




.myName
{
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-weight:bold;
  color: white;

/*
   -webkit-text-fill-color: white; // Will override color (regardless of order)
   -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: black;

*/
  padding: none;
  position: absolute;
  bottom: 10;
  left: 10;

}
